<div id="left">
	<%= link_to 'Bestil time', root_path, :class => 'button'%>
	</div>
<div id="center">
	<h1><%= @hud.title %></h1>
	<%= simple_format @hud.content %>
</div>
<div id="right">
	<h3>Mer info</h3>
	
	<%= link_to @hud.title, @hud, :class => 'at'%>
	
	<% @hud.behandlingers.each do |b|%>
	
	<%= link_to b.title, b %>
	<% end %>



</div>
