<div id="leftSide">

		<img src="<%= @hud.picture %>" alt="bilde"/>
	<%= link_to 'Bestil time', "/kontakt", :class => 'button'%>
	</div>
<div id="centerSection">
	<h3><%= @hud.title %></h3>
	<%= simple_format @hud.content %>
</div>
<div id="rightSide">

	
	<%= link_to @hud.title, @hud, :class => 'at'%>
	
	<% @hud.behandlingers.each do |b|%>
	
	<%= link_to b.title, b %>
	<% end %>



</div>
