



<div id="leftSide">
	<h1></h1>
	<img src="<%= @type.picture%>" alt="bilde"/>
	<%= link_to 'Bestil time', new_booking_path, :class => 'button'%>
	</div>

		<div id="centerSection">
				<h1><%= sanitize  @type.title %></h1>
			
			
				<%= sanitize  @type.content %>
			
			
			<%  @type.infos.each do |i|%>
			
			
			<% end %>
	</div>
			<div id="rightSide">
			<h3>Mer info</h3>
			<%= link_to @type.title, @type, :class => 'at'%>
			<%  @type.infos.each do |i|%>
			
			<%= link_to i.name, i%>
			
			<% end %>
		
		</div>

