



<div id="leftSide">

	<img src="<%= @type.picture%>" alt="bilde"/>
	<%= link_to 'Bestil time', "/kontakt", :class => 'button'%>
	</div>

		<div id="centerSection">
				<h3><%= sanitize  @type.title %></h3>
			
			
				<%= sanitize  @type.content %>
			
			
			<%  @type.infos.each do |i|%>
			
			
			<% end %>
	</div>
			<div id="rightSide">

			<%= link_to @type.title, @type, :class => 'at'%>
			<%  @type.infos.each do |i|%>
			
			<%= link_to i.name, i%>
			
			<% end %>
		
		</div>

