<%= form_for(@booking) do |f| %>
  <% if @booking.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@booking.errors.count, "error") %> prohibited this booking from being send:</h2>

      <ul>
      <% @booking.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="margin-top"></div>

  <div class="field">
  	<div class="labelField">
    <%= f.label 'Navn' %>
    </div>
    <div class="inputField">
    <%= f.text_field :name %>
    </div>
  </div>
    <div class="field">
    	<div class="labelField">
    <%= f.label 'Kjønn', :class => 'underline'%>
    </div>
    <div class="inputField">
	<% ['Man', 'Kvinne'].each do |gender| %>
		<%= f.radio_button :gender, gender %>
		<%= f.label gender%>
		
	<% end %>
	</div>
  </div>
    <div class="field">
<div class="labelField">
  	   	<%= f.label 'Alder'%>
  	   	</div>

  	   	<div class="inputField">
  	   	<%= f.number_field :age, :class => 'age'%>
  	  </div>
  	  
  </div>
  <div class="field">
  	<div class="labelField">
    <%= f.label :email %>
    </div>
    <div class="inputField">
    <%= f.email_field  :email %>
    </div>
  </div>
  <div class="field">
  	<div class="labelField">
    <%= f.label 'Telefon' %>
    </div>
    <div class="inputField">
    <%= f.text_field :phone %>
    </div>
  </div>
   <div class="field">
  	<br/>
  	<div class="labelField">
    <%= f.label 'Konsultasjon', :class => 'underline' %>
    </div>
    <div class="inputField">
	<% ['Plastisk kirurgi', 'Hudbehandling'].each do |consoltion|%>
	<%= f.radio_button :consoltion, consoltion%>
	<%= f.label consoltion %>
	<% end %>
	</div>
  </div>
  <div class="field">
  	<div class="labelField">
    <%= f.label 'Mer info' %>
   
    </div>
   <div class="inputField">
    <%= f.text_area :message, :cols => 25, :rows => 6 %>
     <%= f.submit 'Send' %>
    </div>
  </div>
  <div class="actions">
    
  </div>
<% end %>

