<%= form_for(@kirurgi) do |f| %>
  <% if @kirurgi.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@kirurgi.errors.count, "error") %> prohibited this kirurgi from being saved:</h2>

      <ul>
      <% @kirurgi.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
   <h3> <%= f.label "Navn p책 katergori:" %></h3>
    <%= f.text_field :name, :class => "main-input" %>
  </div>

  <%= f.fields_for :types do |builder| %>
  
  	<%= render 'type_fields', f: builder %>
  <% end %>

  <%= link_to_add_fields "Legg ny behandling i denne kategorien", f, :types,"links" %>


  <div class="actions">
  	  <h5>Ferdig med 책 redigere? Lagre eller avbryt</h5>
    <%= f.submit 'Lagre' %>
    <%= link_to 'Avbryt', "/admin", :class => "cancel",data: { confirm: 'Er du sikker p책 at du vil avbryte uten 책 lagre?' } %>
  </div>
<% end %>
