<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @sider.title %>
</p>

<p>
  <b>Content:</b>
  <%= @sider.content %>
</p>


<%= link_to 'Edit', edit_sider_path(@sider) %> |
<%= link_to 'Back', siders_path %>
