<div id="left">
	<h1></h1>
		<% if Sider.find(:all).count > 0 %>

	<% if s =  Sider.find_by_title("Om oss") %>
<img src="<%= s.picture %>">
</div>

<div id="center">

	<h1> <%= s.title %></h1>
	<%= sanitize s.content %>
	<% end %>
	<% else %>
	<p>Ingenting å vise</p>
	<% end %>
</div>


<div id="right">
		<%= link_to "Om oss", "/omoss", :class => "at"  %>
		<%= link_to "Ansatte", legers_path%>
		<%= link_to "Bilder", "/gal" %>
</div>

