<script>

function renderPrice(n, clickedlink, tot){
	var x=document.getElementById("centerSection");
			 var y = document.getElementById(n);
  			 x.innerHTML= y.innerHTML;
		 
  			
  			 for(var i = 1; i < tot; i++){
  			 	if(n == i){
  			 		
  			 		document.getElementById(clickedlink).style.background = "#CDE4F2";
  			 	}else{
  			 		var temp = "link"+i;

  			 		document.getElementById(temp).style.background = "#fff";
  			 	}
  			 }
}

</script>

<div id="leftSide">
		<% n = 1 %>
		<% total = Kirurgi.count + Hud.count %>
		
	<% Kirurgi.find(:all).each do |k| %>
	 	<a href="#" id="link<%= n %>" onclick="renderPrice(<%=n%>, '<%= "link" + n.to_s%>', '<%= total%>')" <% if n == 1 %> style="background:#CDE4F2;" <% end %>> <%= k.name %></a><br />
		
		<div id="<%= n %>" style="display: none;">
			
			<% k.types.each do |t| %>
				
				<div class="price"><p><%= t.title %></p></div><div class="priceNum"><p> <%= t.price %></p></div>
			<% end %>	
			
		</div>
		
		<% n+= 1 %>
	<% end %>
		
		<a href="#" id="link<%= n %>" onclick="renderPrice(<%= n %>, '<%= "link"+n.to_s%>', '<%= total%>')">Hudbehandlinger</a>
		
		<div id="<%= n %>" style="display: none;">
			
			<% Hud.find(:all).each do |h| %>
			<div class="price"><p><%= h.title %></p></div><div class="priceNum"><p> <%= h.price %></p></div>
			<% end %>
		</div>
		
		
</div>

<div id="centerSection">
	<% Kirurgi.find(:all).each do |ki| %>
	<div id="<%= n %>" >
			
			<% ki.types.each do |ti| %>
				<div class="price"><p><%= ti.title %></p></div><div class="priceNum"><p> <%= ti.price %></p></div>
			<% end %>
			<% break %>
			<% end %>
		</div>
	

</div>
<div id="rightSide">

<img style="width:220px;" src="https://dl.dropbox.com/u/7238474/leger/doc.jpg" alt="bilde">

</div>