<script>

function renderPrice(n){
	var x=document.getElementById("wideSection");
			 var y = document.getElementById(n);
  			 x.innerHTML= y.innerHTML;
	
	
}

</script>

<div id="rightSidePrice">
		<% n = 1 %>
	<% Kirurgi.find(:all).each do |k| %>
	 	<a href="#" onclick="renderPrice(<%=n%>)"> <%= k.name %></a><br />
		
		<div id="<%= n %>" style="display: none;">
			<% k.types.each do |t| %>
				
					<%= t.title %> <%= t.price %><br />
			<% end %>	
			
		</div>
	
		<% n+= 1 %>
	<% end %>
		
		<a href="#" onclick="renderPrice(<%= n %>)">Hudbehandlinger</a>
		
		<div id="<%= n %>" style="display: none;">
			<% Hud.find(:all).each do |h| %>
				<%= h.title %> <%= h.price %><br />	
			<% end %>
		</div>
		
		
</div>

<div id="wideSection">
	

</div>
