<%= form_for(@leger) do |f| %>
  <% if @leger.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@leger.errors.count, "error") %> prohibited this leger from being saved:</h2>

      <ul>
      <% @leger.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<fieldset class="fieldWrapper">
  <div class="field">
    <%= f.label "Navn" %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label "Posisjon" %><br />
    <%= f.text_field :position %>
  </div>
    <div class="field">
    <%= f.label "Telfon nummer" %><br />
    <%= f.text_field :telf %>
  </div>
    <div class="field">
    <%= f.label "Email" %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label "Bilde url" %><br />
    <%= f.text_field :picture  %>
  </div>
  <div class="field">
    <%= f.label "Bio" %><br />
    <%= f.text_area :info, :cols => 40, :rows => 15, :class => "widgEditor" %>
  </div>
  </fieldset>
  <div class="actions">
    <%= f.submit 'Lagre' %>
    <%= link_to 'Avbryt', "/admin", :class => "cancel", data: { confirm: 'Er du sikker på at du vil avbryte uten å lagre?' }%>
    <%= link_to 'Slett', @leger, method: :delete, :class => "cancel", data: { confirm: 'Er du sikker på at du vil slette ansatt?' } %>
  </div>
<% end %>
