
<div id="leftSide">
			
			<img src="<%= @leger.picture%>" />
			<p><%= @leger.position %></p>
			<p><%= @leger.telf%></p>
			<a href="mailto:<%= @leger.email %>"><%= @leger.email %></a>
	</div>
<div id="centerSection">
	<h3><%= @leger.name %></h3>
<p><%= sanitize @leger.info%></p>
</div>
<div id="rightSide">
<%= link_to "Alle", legers_path%>
		<% Leger.find(:all, :order => 'name ASC').each do |lege|%>
			
			
			<a  href="<%= lege.id %>" <% if lege == @leger %> class="at" <% end %>><%= lege.name %></a>
			
		
		
		<% end %>
</div>

