<div id="leftSide">
		
	<img src="<%= Type.find(@info.type_id).picture %>" alt="bilde"/>
	<%= link_to 'Bestil time', root_path, :class => 'button'%>
	</div>
<div id="centerSection">
	<h1><%= @info.name %></h1>
	<%= simple_format @info.content %>
</div>
<div id="rightSide">
	<% type = Type.find(@info.type_id)%>

	<%= link_to type.title, type%>
	<% type.infos.each do |i| %>
	<% if i == @info %>
	<%= link_to i.name, i, :class => 'at'%>
	<%else%>
	<%= link_to i.name, i, :class => 'other'%>
	<% end %>
	<% end %>
</div>