<!DOCTYPE html>
<html>
	<head>
		<title>Legekontor</title>
		<%= stylesheet_link_tag    "application", :media => "all" %>
		<%= javascript_include_tag "application" %>
		<%= csrf_meta_tags %>
		</head>
		<body <%if !current_user %>style="overflow:hidden;"<%end%>>
			
			
<div id="headerWrapper">
	<div id="header">
	
		<div id="logo">
			
		</div>
	
	</div>		
</div>



<div id="navWrapper">
	<div id="nav">
		<%= link_to 'Hjem', root_path %> 
			
				
				<a href="javascript:void(0)"  onclick="showHud('hud', 0, 'k');showKirurgi('kirurgi', 1, 'c');" id="k"> Hudbehandlinger</a>	
		<a href="javascript:void(0)"  onclick="showKirurgi('kirurgi', 0, 'c');showHud('hud', 1, 'k');" id="c"> Kirurgi</a>
				
				<%= link_to 'Om oss', "/omoss" %>
				<%= link_to 'Priser', "/pris" %>
				<%= link_to 'Kontakt oss', "/kontakt" %>
	</div>
</div>


<div id="subMenuWrapper">
	<div id="kirurgi">
		<% if Kirurgi.find(:all).count > 0 %>

				<% Kirurgi.find(:all, :order => 'name ASC').each do |k| %>
				<div class="subMenuLeftBox">
					<p class="category"><%= k.name%></p>
					<% k.types.each do |t|%>
					
						<%= link_to t.title, t %>
					
					<%end%>
					<%= link_to 'Kontakt oss', "/kontakt" %>
					<%= link_to 'Kontakt oss', "/kontakt" %>
					<%= link_to 'Kontakt oss', "/kontakt" %>
					<%= link_to 'Kontakt oss', "/kontakt" %>
					<%= link_to 'Kontakt oss', "/kontakt" %>
					<%= link_to 'Kontakt oss', "/kontakt" %>
				</div>
				<% end %>
				<% end %>
		</div>
	<div id="hud">
		<% if Hud.find(:all).count > 0 %>

				<% Hud.find(:all, :order => 'title ASC').each do |h| %>
				
					<%= link_to h.title, h %>
					
				
				<% end %>
				<% end %>
		</div>

</div>

<div id="wrapper">
	<% flash.each do |key, value| %>
           <div class="flash<%= key  %>"><%= value %></div>
          <% end %>
	<div id="innerWrapper">
		
			<div id="article">
			
			
				
					<%= yield %>
			
			
			</div>
	
	</div>

</div>



			
			
		<div id="footerWrapper">	
		<div id="footer"></div>
		</div>		
			

		</body>
</html>
